body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
}


footer{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0;
    padding: 20px;
    background-color: rgb(245, 243, 243);
}

.column {
    float: left;
    width: 25%;
}

.column-left {
    margin-left: 20px;
    float: left;
    width: 29%;
    justify-content: space-between;
    align-items: center;
}

.column a, .column-left a{
    text-decoration: none;
    color: rgb(143, 140, 140);
    font-size: 15px;
}
.column-right a{
    text-decoration: none;
    color: black;
}

.column , .column-left, .column-right {
    font-size: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


